<div class="form-area">
    <h1>Post Form</h1>
    <br><br>
    <input type="text" placeholder="Post title" [(ngModel)]="postTitle">
    <br><br>
    <textarea cols="30" rows="10" placeholder="Post details" [(ngModel)]="postDetails"></textarea>
    <br><br>
    <input type="text" placeholder="Post image URL" [(ngModel)]="imageUrl">
    <br><br>
    <input type="text" placeholder="Post URL" [(ngModel)]="postUrl">
    <br><br>
    <input type="checkbox" [(ngModel)]="addBackground"> Add background
</div>

<div class="preview-area">
    <img [src]="imageUrl" alt="">
    <h1><span [class.add-background]="addBackground">{{ postTitle }}</span></h1>
    <p>{{ postDetails }}</p>
    <a [href]="postUrl" target="_blank" [style.display]="postUrl ? 'block' : 'none'">More details</a>
</div>